* {
    font-family: "Kanit", sans-serif;
    margin: 0%;
    padding: 0%;
}

::selection {
    background-color: #D28318;
    color: #EBDE15;
}

body {
    background-color: #203375;
    /* background-image: url(assets/Background/BackgroundMainTop.jpeg);
    background-size: cover; */
}

::-webkit-scrollbar {
    display: none;
}

footer {
    background-color:black;
    color: #F0F8FF;
    font-size: 16px;
    /* display: none; */
}

footer h3 {
    margin-left: 15px;
}

h3 {
    font-size: 20px;
}

a:link {
    color: #F0F8FF;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #D11717;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #EBDE15;
    background-color: #D28318;
    text-decoration: underline;
}

a:active {
    color: #EBDE15;
    background-color: #D28318;
    text-decoration: underline;
}

a h2:visited {
    color: #D11717;
    background-color: transparent;
    text-decoration: none;
}

a h2:hover {
    color: #EBDE15;
    background-color: #D28318;
    text-decoration: underline;
}

a h2:active {
    color: #EBDE15;
    background-color: #D28318;
    text-decoration: underline;
}

a h3:visited {
    color: #D11717;
    background-color: transparent;
    text-decoration: none;
}

a h3:hover {
    color: #EBDE15;
    background-color: #D28318;
    text-decoration: underline;
}

a h3:active {
    color: #EBDE15;
    background-color: #D28318;
    text-decoration: underline;
}

#title {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(assets/Background/BackgroundMainTop.jpeg);
    background-size: cover;
    /* border: solid 5px #EBDE15; */
}

.title_background {
    background-color: rgba(0, 0, 0, 0.705);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#NAV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    height: auto;
    padding: 25px;
}

.but {
    width: 100%;
    height: 100%;
    cursor:pointer;
}

.hammer {
    width: auto;
    height: 3.6in;
}

#lanceF1:hover {
    content: url(assets/Textlar/OrangeF1S.png)
}

#lanceF2:hover {
    content: url(assets/Textlar/OrangeF2k.png);
}

#lanceF3:hover {
    content: url(assets/Textlar/OrangeF3Y.png);
}

#lanceF4:hover {
    content: url(assets/Textlar/OrangeF4E.png);
}

#lanceL1:hover {
    content: url(assets/Textlar/OrangeL1Y.png)
}

#lanceL2:hover {
    content: url(assets/Textlar/OrangeL2A.png)
}

#lanceL3:hover {
    content: url(assets/Textlar/OrangeL3N.png)
}

#lanceL4:hover {
    content: url(assets/Textlar/OrangeL4G.png)
}

.TitleTextFS #lanceF1 {
    content: url(assets/Textlar/RedF1S.png);
}

.TitleTextFK #lanceF2 {
    content: url(assets/Textlar/RedF2K.png)
}

.TitleTextFY #lanceF3 {
    content: url(assets/Textlar/RedF3Y.png)
}

.TitleTextFE #lanceF4 {
    content: url(assets/Textlar/RedF4E.png)
}

.TitleTextLY #lanceL1 {
    content: url(assets/Textlar/RedL1Y.png)
}

.TitleTextLA #lanceL2 {
    content: url(assets/Textlar/RedL2A.png)
}

.TitleTextLN #lanceL3 {
    content: url(assets/Textlar/RedL3N.png)
}

.TitleTextLG #lanceL4 {
    content: url(assets/Textlar/RedL4G.png)
}

#portfolio {
    /* background-color: rgba(0, 0, 0, 0.705); */
    height: 200px;
    width: auto;
    padding: 25px;
}

#description {
    background-color: #d28518a7;
    color: #EBDE15;
    height: 200px;
    border: solid 5px #EBDE15;
    font-size: 5em;
}

#description h1 {
    padding: 15px;
}

.loc {
    display: none;
}

.descriptionFS .default {
    display: none;
}

.descriptionFS #glowieintr {
    display: block;
}

.descriptionFK .default {
    display: none;
}

.descriptionFK #glowiehobb {
    display: block;
}

.descriptionFY .default {
    display: none;
}

.descriptionFY #glowieawar {
    display: block;
}

.descriptionFE .default {
    display: none;
}

.descriptionFE #glowieseco {
    display: block;
}

.descriptionLY .default {
    display: none;
}

.descriptionLY #glowieport {
    display: block;
}

.descriptionLA .default {
    display: none;
}

.descriptionLA #glowieresu {
    display: block;
}

.descriptionLN .default {
    display: none;
}

.descriptionLN #glowiecont {
    display: block;
}

.descriptionLG .default {
    display: none;
}

.descriptionLG #glowiebehi {
    display: block;
}

main {
    /* background-image: url(assets/Background/BackgroundMainBottom.jpg);
    background-size: cover; */
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/Background/BackgroundMainBottom.jpg);
    background-size: cover;
    /* display: none; */
}

#content .hidden {
    display: none;
}

.contentFS #int {
    display: block;
}

.contentFK #hob {
    display: block;
}

.contentFY #ach {
    display: block;
}

.contentFE #sec {
    display: block;
}

.contentLY #por {
    display: block;
}

.contentLA #res {
    display: block;
}

.contentLN #con {
    display: block;
}

.contentLG #sce {
    display: block;
}

.indie {
    width: 80%;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    color: #F0F8FF;
    border: solid 5px #EBDE15;
    /* background-image: url(assets/Background/BackgroundMainBottom.jpg);
    background-size: cover; */
}

.indie p {
    font-size: 18px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 15px;
}

.indie h2 {
    font-size: 3em;
    margin-top: 35px;
    margin-left: 90px;
    margin-right: 90px;
}

.indie h3 {
    margin-left: 90px;
    margin-right: 90px;
}

#int {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url("assets/Background/BackgroundTextMix0.png");
    background-size: cover;
}

#hob {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextRed0.png);
    background-size: cover;
}

#ach {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextOrange2.png);
    background-size: cover;
}

#sec {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextYellow0.png);
    background-size: cover;
}

#por {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextMix1.png);
    background-size: cover;
}

#res {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextRed1.png);
    background-size: cover;
}

#con {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextOrange1.png);
    background-size: cover;
}

#sce {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextYellow1.png);
    background-size: cover;
}

#por {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#por h2 {
    margin-left: 90px;
}

#proselector {
    margin-left: 90px;
}

#option {
    background-color: transparent;
    color: #F0F8FF;
    border: solid 3px #EBDE15;
    font-size: 18px;
    font-weight: bold;
}

#option:hover {
    background-color: #D28318;
    color: #EBDE15;

}

#option:active {
    background-color: #D28318;
    color: #EBDE15;
}

.proselect {
    background-color: #D28318;
    color: #EBDE15;
}

.proselect:active {
    background-color: #D28318;
    color: #EBDE15;
}

#projects{
    margin-top: 15px;
}

.pro h3 {
    margin-left: 90px;
}

.pro h3:hover {
    color: #EBDE15;
    background-color: #D28318;
    text-decoration: underline;
}

.snub {
    display: none;
}

.selected1 .sites {
    display: block;
}

.selected2 .slides {
    display: block;
}

.selected3 .essays {
    display: block;
}

.selected4 .videos {
    display: block;
}