* {
    font-family: "Kanit", sans-serif;
    margin: 0%;
    padding: 0%;
}

footer {
    background-color: #000000;
    color: white;
}

a:link {
    color: #F0F8FF;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #D11717;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #EBDE15;
    background-color: #D28318;
    text-decoration: underline;
}

a:active {
    color: #EBDE15;
    background-color: #D28318;
    text-decoration: underline;
}

#title {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(assets/Background/BackgroundMainTop.jpeg);
    border: solid 5px #000000;
}

.title_background {
    background-color: rgba(0, 0, 0, 0.705);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#NAV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 110px;
    height: auto;
}

.hammer {
    width: auto;
    height: 2.6in;
}

#lanceF1:hover {
    content: url(assets/Textlar/OrangeF1S.png)
}

#lanceF2:hover {
    content: url(assets/Textlar/OrangeF2k.png);
}

#lanceF3:hover {
    content: url(assets/Textlar/OrangeF3Y.png);
}

#lanceF4:hover {
    content: url(assets/Textlar/OrangeF4E.png);
}

#lanceL1:hover {
    content: url(assets/Textlar/OrangeL1Y.png)
}

#lanceL2:hover {
    content: url(assets/Textlar/OrangeL2A.png)
}

#lanceL3:hover {
    content: url(assets/Textlar/OrangeL3N.png)
}

#lanceL4:hover {
    content: url(assets/Textlar/OrangeL4G.png)
}

#portfolio {
    background-color: rgba(0, 0, 0, 0.705);
    height: auto;
    width: 995px;
}

#description {
    background-color: #d28518a7;
    color: #EBDE15;
    height: 200px;
}

.loc {
    display: none;
}

main {
    background-image: url(assets/Background/BackgroundMainBottom.jpg);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indie {
    width: 80%;
    height: 8.33in;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F0F8FF;
    border: solid 5px #000000;
}

.indie p {
    margin-left: 90px;
    margin-right: 90px;
}

#int {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url("assets/Background/BackgroundTextMix0.png");
    background-size: cover;
}

#hob {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextRed0.png);
    background-size: cover;
}

#ach {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextOrange2.png);
    background-size: cover;
}

#sec {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextYellow0.png);
    background-size: cover;
}

#por {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextMix1.png);
    background-size: cover;
}

#res {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextRed1.png);
    background-size: cover;
}

#con {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextOrange1.png);
    background-size: cover;
}

#sce {
    background-image:
        linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
        url(assets/Background/BackgroundTextYellow1.png);
    background-size: cover;
}

.pro h3 {
    margin-left: 90px;
}

.snub {
    display: none;
}

.selected1 .sites {
 display: block;
}

.selected2 .slides {
    display: block;
}

.selected3 .essays {
    display: block;
}

.selected4 .videos {
    display: block;
}