@media only screen and (max-width:480px) {

    /* * {}

    footer {
        display: none;
    }

    body::after {
        color: #F0F8FF;
        font-size: 26px;
        margin:45px;
        content: "Mobile verison in the future?";
    }

    #title {
        display: none;
    }

    #content {
        display: none;
    } */


    body {
        background-image:
            linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
            url("assets/Background/BackgroundMainTop.jpeg");
    }

    h3 {
        font-size: 15px;
    }

    #title {
        display: none;
    }

    #NAV {
        margin-top: 35px;
        padding: 15px;
        position: sticky;
        top: 0px;
        background-color: #D11717;
        border: solid 3px #EBDE15;
        animation-duration: 5s;
        animation-name: fade;
    }

    #glowiehoov {

    }

    .mobile {
        display: block;
    }

    .hammer {
        width: auto;
        height: 0.8in;
    }

    #portfolio {
        /* background-color: rgba(0, 0, 0, 0.705); */
        height: 40px;
        width: auto;
        padding: 15px;
        margin-left: 65px;
        animation-duration: 5s;
        animation-name: fade;
    }

    #description {
        display: flex;
        justify-content: center;
        height: 60px;
        font-size: 15px;
        border: solid 3px #EBDE15;
        animation-duration: 5s;
        animation-name: fade;
    }

    #description h1 {
        padding: 10px;
    }

    .indie {
        height: 14in;
        border: solid 3px #EBDE15;
        animation-duration: 0s;
    }

    .indie p {
        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 10px;
    }

    .indie h2 {
        font-size: 25px;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .indie h3 {
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #por h2 {
        margin-left: 10px;
    }

    #option {
        font-size: 15px;
    }

    #projects {
        margin-top: 10px;
    }

    .pro h3 {
        margin-left: 10px;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
      
}