@media only screen and (max-width:480px) {

    /* * {}

    footer {
        display: none;
    }

    body::after {
        color: #F0F8FF;
        font-size: 26px;
        margin:45px;
        content: "Mobile verison in the future?";
    }

    #title {
        display: none;
    }

    #content {
        display: none;
    } */


    body {
        background-image:
            linear-gradient(rgba(54, 49, 49, 0.73), rgba(54, 49, 49, 0.73)),
            url("assets/Background/BackgroundMainTop.jpeg");
    }

    h3 {
        font-size: 15px;
    }

    #title {
        display: none;
    }

    #scroll {
        position: sticky;
        top: 0px;
    }

    #NAV {
        margin-top: 35px;
        padding: 15px;
        background-color: #D28318;
        border: solid 3px #EBDE15;
        animation-duration: 5s;
        animation-name: fade;
    }

    .mobile {
        display: block;
    }

    .hammer {
        width: auto;
        height: 0.8in;
    }

    #lanceF1:hover {
        content: url(assets/Textlar/RedF1S.png)
    }
    
    #lanceF2:hover {
        content: url(assets/Textlar/RedF2k.png);
    }
    
    #lanceF3:hover {
        content: url(assets/Textlar/RedF3Y.png);
    }
    
    #lanceF4:hover {
        content: url(assets/Textlar/RedF4E.png);
    }
    
    #lanceL1:hover {
        content: url(assets/Textlar/RedL1Y.png)
    }
    
    #lanceL2:hover {
        content: url(assets/Textlar/RedL2A.png)
    }
    
    #lanceL3:hover {
        content: url(assets/Textlar/RedL3N.png)
    }
    
    #lanceL4:hover {
        content: url(assets/Textlar/RedL4G.png)
    }

    #portfolio {
        /* background-color: rgba(0, 0, 0, 0.705); */
        height: 40px;
        width: auto;
        padding: 15px;
        margin-left: 65px;
        animation-duration: 5s;
        animation-name: fade;
    }

    #descriptionmobile {
        display: flex;
        justify-content: center;
        height: 60px;
        font-size: 15px;
        border: solid 3px #EBDE15;
        background-color: #d28518a7;
        color: #EBDE15;
        animation-duration: 5s;
        animation-name: fade;
    }

    #description h1 {
        padding: 10px;
    }

    .descriptionFS .default {
        display: block;
    }

    .descriptionFK .default {
        display: block;
    }

    .descriptionFY .default {
        display: block;
    }

    .descriptionFE .default {
        display: block;
    }

    .descriptionLY .default {
        display: block;
    }

    .descriptionLA .default {
        display: block;
    }

    .descriptionLN .default {
        display: block;
    }

    .descriptionLG .default {
        display: block;
    }

    .indie {
        height: 14in;
        border: solid 3px #EBDE15;
        animation-duration: 0s;
    }

    .indie p {
        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 10px;
    }

    .indie h2 {
        font-size: 25px;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .indie h3 {
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #por h2 {
        margin-left: 10px;
    }

    #option {
        font-size: 15px;
    }

    #projects {
        margin-top: 10px;
    }

    .pro h3 {
        margin-left: 10px;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
      
}